/* Loader.css */

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: #ffffff; /* White background */
  width: 100%; /* Full viewport width */
  position: fixed; /* Stays on top of the content */
  top: 0;
  left: 0;
  z-index: 9999; /* Ensure it appears above other content */
  transition: opacity 0.3s ease, visibility 0.3s ease; /* Smooth fade-out */
}

.loader-container.hidden {
  opacity: 0; /* Fade out effect */
  visibility: hidden; /* Make it disappear */
}

.loader-gif {
  width: 80px; /* Adjust size for mobile */
  height: auto;
}

@media (max-width: 768px) {
  .loader-gif {
    width: 60px; /* Slightly smaller size for smaller screens */
  }
}
